<div id="header">
  <h1><a href="<%= url %>">RQ</a></h1>
</div>

<h3>New Queue</h3>
<form id="new_queue_form" method="post" action="/new_queue">
<fieldset>
<legend>Queue Configuration</legend>

<div class="field">
  <label class="field_label" for="queue_name">Queue name</label>
  <span class=""><%= url %>q/</span>
  <input type="text" size="50" name="queue[name]" id="queue_name" value="<%= params['queue']['name'] %>" />
</div>

<div class="field">
  <label class="field_label" for="queue_script">Queue script path</label>
  <input type="text" size="80" name="queue[script]" id="queue_script" value="<%= params['queue']['script'] %>" />
</div>

<div class="field">
  <label class="field_label" for="queue_num_workers">Max number of workers</label>
  <input type="text" name="queue[num_workers]" value="<%= params['queue']['num_workers'] %>" size="3" />
  <p class="note">Anything &gt; 1 means parallelism</p>
</div>

<div class="field">
  <label class="field_label" for="queue_coalesce">Message coalescing</label>
  <label for="queue_coalesce">coalesce</label>
  <input type="radio" name="queue[coalesce]" value="yes" <%= 'checked' if params['queue']['coalesce'] == 'yes' %> />
  <label for="queue_coalesce">no-coalesce</label>
  <input type="radio" name="queue[coalesce]" value="no" <%= 'checked' if params['queue']['coalesce'] == 'no' %> />
</div>

<div class="field">
  <label class="field_label" for="queue_coalesce_param1"></label>
  <label for="queue_coalesce_param1">param1</label>
  <input type="checkbox" name="queue[coalesce_param1]" value="1" <%= 'checked' if params['queue']['coalesce_param1'] %> />
  <label for="queue_coalesce_param2">param2</label>
  <input type="checkbox" name="queue[coalesce_param2]" value="1" <%= 'checked' if params['queue']['coalesce_param2'] %> />
  <label for="queue_coalesce_param3">param3</label>
  <input type="checkbox" name="queue[coalesce_param3]" value="1" <%= 'checked' if params['queue']['coalesce_param3'] %> />
  <label for="queue_coalesce_param4">param4</label>
  <input type="checkbox" name="queue[coalesce_param4]" value="1" <%= 'checked' if params['queue']['coalesce_param4'] %> />
</div>

<div class="field">
  <label class="field_label" for="queue_exec_prefix">'exec' prefix</label>
  <input type="text" name="queue[exec_prefix]" value="<%= params['queue']['exec_prefix'] %>" size="40" />
</div>

<div class="field">
  <label class="field_label" for="none">&nbsp;</label>
</div>

<div class="field">
  <label class="field_label" for="queue_fsync">&nbsp;</label>
  <input type="submit" name="queue_name" value="submit" />
</div>

</fieldset>
</form>
