    <tr class="<%= 'odd-row' if odd %>">
      <td class="left-aligned"><a href="<%= "#{root}q/#{name}" %>"><%= name %></a></td>
<% begin
    qc = get_queueclient(name)
    raise unless qc.running?
    status = qc.status
-%>
      <td>
        <%= msgs_labels.zip(qc.num_messages.values_at(*msgs_labels)).map{|ab| "<pre>#{ab[0]}:</pre><pre id=\"#{ab[0]}-#{name}\">#{ab[1].to_s.ljust(4)}</pre>" }.join %>
        <% qc.config[1]['schedule'].each do |sched| %>
        <div class="schedule">
          <form class="inline inrow" method="post" action="<%= "#{root}q/#{name}/new_message" %>">
            <input type="hidden" name="back" value="<%= request.path  %>" />
            <input type="hidden" name="x_format" value="html" />
            <input type="hidden" name="mesg[src]" value="cron-now " />
            <input type="hidden" name="mesg[dest]" value="<%= name %>" />
            <input type="hidden" name="mesg[param1]" value="<%= sched['params']['param1'] %>" />
            <input type="hidden" name="mesg[param2]" value="<%= sched['params']['param2'] %>" />
            <input type="hidden" name="mesg[param3]" value="<%= sched['params']['param3'] %>" />
            <input type="hidden" name="mesg[param4]" value="<%= sched['params']['param4'] %>" />
            CRON: <%= sched['cron'] %>
            <%- %w(param1 param2 param3 param4).each do |p| -%>
              <%- if sched['params'][p] -%>
                <br />
                <%= p.upcase %>: "<%= sched['params'][p] %>"
              <%- end -%>
            <%- end -%>
            <br />
            Next run at <%= CronParser.new(sched['cron']).next.strftime("%c %Z") %>
            <br />
            <button class="cron-now" name="cron-now" value="cron-now">Run Now</button>
          </form>
        </div>
        <%- end -%>
      </td>
      <td id="ping-<%= name %>"><%= qc.ping %></td>
      <td id="pid-<%= name %>"><%= qc.read_pid %></td>
      <td id="uptime-<%= name %>"><%= qc.uptime %></td>
      <td>
        <span class="<%= status == 'UP' ? 'green' : 'red' %>" id="status-<%= name %>"><%= status %></span>
      </td>
<% rescue -%>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td><span class="red">DOWN <%= $! %></span></td>
<% end -%>
      <td>
<%=     erb :_main_queue_form, :locals => {:status => status, :name => name } %>
      </td>
    </tr>
