    <tr class="<%= 'odd-row' if odd %>">
      <td class="left-aligned"><a href="<%= "#{url}q/#{name}" %>"><%= name %></a></td>
<% begin
    qc = get_queueclient(name)
    raise unless qc.running?
    status = qc.status
-%>
<%  if status != 'DOWN' -%>
      <td>
        <pre><%= msgs_labels.zip(qc.num_messages.values_at(*msgs_labels)).map{|ab| "#{ab[0]}:#{ab[1].to_s.ljust(4)} "}.join %></pre>
        <% qc.config[1]['schedule'].each do |sched| %>
          <pre>
<%=           sched['cron'] -%>
<%=           "\n  PARAM1: \"#{sched['params']['param1']}\"" if sched['params']['param1'] -%>
<%=           "\n  PARAM2: \"#{sched['params']['param2']}\"" if sched['params']['param2'] -%>
<%=           "\n  PARAM3: \"#{sched['params']['param3']}\"" if sched['params']['param3'] -%>
<%=           "\n  PARAM4: \"#{sched['params']['param4']}\"" if sched['params']['param4'] -%>
          </pre>
        <% end %>
      </td>
<%  else -%>
      <td>-</td>
<%  end -%>
      <td><%= qc.ping %></td>
      <td><%= qc.read_pid %></td>
      <td><%= qc.uptime %></td>
      <td>
        <span class="<%= status == 'UP' ? 'green' : 'red' %>"><%= status %></span>
      </td>
<% rescue -%>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td><span class="red">DOWN <%= $! %></span></td>
<% end -%>
      <td>
<%=     erb :_main_queue_form, :locals => {:status => status, :url => url, :name => name } %>
      </td>
    </tr>
