<!DOCTYPE html>
<html lang="en">
  <head>
    <% if params[:name] && !params[:name].empty? %>
      <title>RQ :: <%= params[:name] %></title>
    <% else %>
      <title>RQ</title>
    <% end %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<%= root %>css/rq.css" type="text/css" media="screen, projection" />
  </head>
  <% our_env = queuemgr.environment rescue '' %>
  <body class="<%= our_env %>">
    <div class="container">
      <div id="flash-container">
      <% [:notice, :error].each do |type| %>
        <% if @flash[type] %>
          <div id="flash-<%= type.to_s %>" class="flash"><%= @flash[type] %></div>
        <% end %>
      <% end %>
      </div>
      <span id="env"><%= our_env %></span>
      <%= yield %>
      <p><em><%= Time.now %></em></p>
    </div>
  </body>
</html>
