<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>

    <% if params[:name] && !params[:name].empty? %>
      <title>RQ :: <%= params[:name] %></title>
    <% else %>
      <title>RQ</title>
    <% end %>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />  
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="/css/rq.css" type="text/css" media="screen, projection" />
  </head>
  <body
    <% colors = Hash.new('wheat') %>
    <% colors['production'] = 'white' %>
    <% colors['stage'] = '#e8ffe8' %>
    <% colors['stage'] = '#ffffb0' %>
    <% our_env = RQ::QueueMgrClient.environment rescue 'install' %>
    <% our_env = 'stage' %>
    <% our_env = (our_env.index('stage') == 0) ? 'stage' : our_env %>
    style="background-color: <%= colors[our_env] %>">
    <div class="container">
      <br />
    <%#= message[:notice] %>
    <%= yield %>
    <i><%= Time.now %>
    <br />ver: <%= VERSION_NUMBER %></i>
    </div>
  </body>
</html>
