<script src="<%= root %>js/ready.js"></script>
<script src="<%= root %>js/main.js"></script>
<script>
  var config = {
    main_path: "<%= main_path %>",
  };
</script>

<div id="header">
<% if allow_new_queue? -%>
  <p id="new-queue"><a href="<%= root %>new_queue">New Queue</a></p>
<% end -%>
  <h1><a href="<%= root %>">RQ</a></h1>
</div>

<h2>Queue List</h2>
<%
if queuemgr.running?
  builtin_queues, custom_queues = queuemgr.queues.sort.partition { |q| builtin_queue? q }
-%>
<table id="queue-list" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th class="left-aligned">NAME</th>
      <th>MESSAGES</th>
      <th>PING</th>
      <th>PID</th>
      <th>UPTIME</th>
      <th>STATUS</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="custom-queues">
<%  custom_queues.each_with_index do |q, i| %>
<%=   erb :_main_queue_row, :locals => {:name => q, :odd => i % 2 != 0} %>
<%  end %>
  </tbody>
  <tbody id="builtin-queues">
<%  builtin_queues.each do |q| %>
<%=   erb :_main_queue_row, :locals => {:name => q, :odd => false} %>
<%  end %>
  </tbody>
</table>
<% end %>

<table id="meta" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
<% if queuemgr.running? %>
      <th><tt>QUEUEMGR:<span class="green" id="status">OPERATIONAL</span></tt></th>
      <th><tt>PING:<span class="green" id="ping"><%= queuemgr.ping %></span></tt></th>
      <th><tt>PID:<span class="green" id="pid"><%= queuemgr.read_pid %></span></tt></th>
      <th><tt>UPTIME:<span class="green" id="uptime"><%= queuemgr.uptime %></span></tt></th>
      <th><tt>TIME:<span class="green" id="time"><%= Time.now.to_i %></span></tt></th>
      <th width="99%"><tt>
        <% version = queuemgr.version %>
        <% if version == RQ_VER %>
          VERSION:<span class="green">v<strong id="version"><%= version %></strong></span>
        <% else %>
          VERSION:<span class="red">server:v<strong id="version"><%= version %></strong> != web:v<strong><%= RQ_VER %></strong></span>
        <% end %>
      </tt></th>
<% else %>
      <th><tt>QUEUEMGR: <span class="red" id="status">DOWN</span></tt></th>
<% end %>
    </tr>
  </thead>
</table>
