<div id="header">
  <p id="new-queue"><a href="/new_queue">New Queue</a></p>
  <h1><a href="<%= url %>">RQ</a></h1>
</div>

<h2>Queue List</h2>
<% if RQ::QueueMgrClient.running? %>
<%   queues = RQ::QueueMgrClient.queues.sort %>
<%   builtin_queues, custom_queues = [], []  %>
<%   queues.each do |q| %>
<%     if q =~ /relay|cleaner|webhook|rq_router/ %>
<%       builtin_queues << q %>
<%     else %>
<%       custom_queues << q %>
<%     end %>
<%   end %>
<table id="queue-list" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th class="left-aligned">NAME</th>
      <th class="left-aligned">URL</th>
      <th>STATUS</th>
      <th>PING</th>
      <th>PID</th>
      <th>UPTIME</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="custom-queues">
<%  custom_queues.each_with_index do |q, i| %>
 <%=   queue_row(q, :odd => i % 2 != 0) %>
<%  end %>
  </tbody>
  <tbody id="builtin-queues">
<%  builtin_queues.each do |q| %>
 <%=   queue_row(q, :odd => false) %>
<%  end %>
  </tbody>
</table>
<% end %>

<div id="sub-header" style="margin-top: 20px">
  <h4>Aliases</h4>
  <% if File.exist?('./config/aliases.json') %>
    <pre id="alias-json">
      <%= File.open('./config/aliases.json').read %>
    </pre>
  <% else %>
    <p>No aliases configured (missing <code>rq/config/aliases.json</code>).</p>
  <% end %>
</div>

<div class="meta">
<% if  RQ::QueueMgrClient.running? %>
  <span class="green">QUEUE MGR is OPERATIONAL</span>
  <span class="green"><%= RQ::QueueMgrClient.ping %></span>
  <span class="green"><%= RQ::QueueMgrClient.read_pid %></span>
  <span>uptime <%= RQ::QueueMgrClient.uptime %> seconds</span> |
  <% vver_array = RQ::QueueMgrClient.version %>
  <% if vver_array[0] == VERSION_NUMBER %>
    <span>server: <strong>v<%= vver_array[0] %></strong></span>
    <span>semantic: <strong><%= vver_array[1] %></strong></span>
  <% else %>
    <span class="red">server: <strong>v<%= vver_array[0] %></strong> != web: <strong>v<%= VERSION_NUMBER %></strong></span>
    <span class="red">semantic: <strong><%= vver_array[1] %></strong> != web: <strong>v<%= SEMANTIC_VERSION_NUMBER %></strong></span>
  <% end %>
<% else %>
  <span class="red">QUEUE MGR is DOWN</span>
<% end %>
</div>
