
<h1><a href="<%= url %>">RQ</a></h1>
<h5></h5>

<h3>QueueMgr Status</h3>
<ul>
<li>
<%if  RQ::QueueMgrClient.running? %>
  <span class="green">QUEUE MGR is OPERATIONAL</span>
  <span class="green"> <%=  RQ::QueueMgrClient.ping %> </span>
  <span class="green"> <%=  RQ::QueueMgrClient.read_pid %></span>
  uptime <%= RQ::QueueMgrClient.uptime %> seconds
  <br />
  <% vver = RQ::QueueMgrClient.version %>
  <% if vver == VERSION_NUMBER %>
    server ver: <%= vver %>
  <% else %>
    <b><span class="red"> sever ver: <%=  vver %> != web ver: <%= VERSION_NUMBER %></span></b>
  <% end %>
  <br />
  env: <b><%= RQ::QueueMgrClient.environment %></b>
  <% else %>
  <span class="red">QUEUE MGR is DOWN</span>
<%end %>
</li>
<li>
</li>
</ul>


<h3>Queue List</h3>
<ul>
<p>
<b><a href="new_queue">New Queue</a></b>
</p>
<% if RQ::QueueMgrClient.running? %>
<%   queues = RQ::QueueMgrClient.queues.sort %>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>url</th>
      <th>status</th>
      <th>ping</th>
      <th>pid</th>
      <th>uptime</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%   queues.each do |q| %>
<%     qc = RQ::QueueClient.new(q) %>
<tr>
  <td>
    <a href="<%= "#{url}q/#{q}" %>"><%= q %></a>
  </td>
  <td>
    <a href="<%= "#{url}q/#{q}" %>"><%= "#{url}q/#{q}" %></a>
  </td>
<%if  qc.running? %>
  <% admin_stat, oper_stat = qc.status %>
  <td>
    <span class="<%= admin_stat == 'UP' ? 'green' : 'red' %>">admin: <%= admin_stat %> </span>
    <span class="<%= oper_stat == 'UP' ? 'green' : 'red' %>">oper: <%= oper_stat %> </span>
  </td>
  <td>
    <%= qc.ping %>
  </td>
  <td>
    <%= qc.read_pid %>
  </td>
  <td>
    <%= qc.uptime %>
  </td>
<% else %>
  <td>
    <span class="red">queue is DOWN</span>
  </td>
  <td>
    -
  </td>
  <td>
    -
  </td>
  <td>
    -
  </td>
<%end %>
  <td>
    <span class=""> <a href="<%= "#{url}q/#{q}/restart" %>">Restart</a> </span>
  </td>
</tr>
<%   end %>
</tbody>
</table>
<% end %>
</ul>

