<% q = params[:name] %>
<h1><a href="<%= url %>">RQ</a> : <a href="<%= "#{url}q/#{q}" %>">Queue [ <%= q %> ]</a> : Msg [ <%= locals['msg_id'] %> ]</h1>
<h5><%= RQ::QueueMgrClient.environment %></h5>

<h3><a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/clone" %>">Clone message</a> (use at own risk)</h3>
<h3><a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/run_now" %>">Run message</a> (use at own risk)</h3>

<h3>Message Attribs</h3>
<ul>
<%  ['src', 'dest', 'msg_id', 'status', 'state', 'count', 'max_count', 'param1', 'param2', 'param3', 'param4', 'post_run_webhook', 'orig_msg_id', 'cloned_from', 'dups', 'dup'].each do |key| %>
<%    next unless locals['msg'].has_key?(key) %>
<li>
  <span class="">
    <% if key == 'status' && locals['msg']['state'] == 'relayed' %>
       <% stuff, url = locals['msg']['status'].split(' - ', 2) %>
       <%= key %> : relayed - <a href="<%= url %>"><%= url %></a>
    <% elsif key == 'orig_msg_id' || key == 'dup' %>
       <%= key %> : <a href="<%= locals['msg'][key] %>"><%= locals['msg'][key] %></a>
    <% elsif key == 'dups' %>
      <%= key %> : [
         <% locals['msg'][key].each do |v| %>
            <a href="<%= v %>"><%= v %></a>
         <% end %> ]
    <% else %>
       <%= key %> : <%= Rack::Utils::escape_html locals['msg'][key] %>
    <% end %>
  </span>
</li>
<% end %>
</ul>

<% json_url = "#{url}q/#{q}/#{locals['msg_id']}.json" %>
<h3><a href="<%= json_url %>">Download raw .json</a></h3>

<h3>Message Attachments</h3>
<% locals['msg']['_attachments'] ||= {} %>
<% if locals['msg']['_attachments'].size > 0 %>
<ul>
<%  locals['msg']['_attachments'].keys.sort.each do |key| %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/attach/#{key}" %>"><%= key %></a>
  </span>
</li>
<% end %>
</ul>
<% else %>
  <p>No attachments.</p>
<% end %>

<h3>Log [tail -n 256] (<a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/log/stdio.log" %>">raw</a>)</h3>
<% if locals['msg']['state'] == 'relayed' || locals['msg']['state'] == 'done' %>
  <% datestamp = locals['msg_id'].split('.', 3) %>
  <% date_dirs = "%s/%s/%s" % [datestamp[0], datestamp[1][0,2], datestamp[1][-2..-1]] %>
  <% log_path = "queue/#{q}/#{locals['msg']['state']}/#{date_dirs}/#{locals['msg_id']}/job/stdio.log" %>
<% else %>
  <% log_path = "queue/#{q}/#{locals['msg']['state']}/#{locals['msg_id']}/job/stdio.log" %>
<% end %>
<% if File.exists?(log_path) %>
<pre>
<%= `tail -n 256 #{log_path}`.strip %>
</pre>
<% else %>
  <p>Log file doesn't currently exist.</p>
<% end %>
