<% q = params[:name] %>
<h1><a href="<%= url %>">RQ</a> : <a href="<%= "#{url}q/#{q}" %>">Queue [ <%= q %> ]</a> : Mesg: [ <%= locals['msg_id'] %> ] </h1>

<ul>

<h3>Message Attribs</h3>
<br />
<ul>
<%  ['src', 'dest', 'msg_id', 'status', 'count', 'param1', 'param2', 'param3', 'param4'].each do |key| %>
<%    next unless locals['msg'].has_key?(key) %>
<li>
  <span class="">
    <%= key %> : <%= locals['msg'][key] %>
  </span>
</li>
<% end %>
</ul>

<p>
<a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/log/stdio.log" %>">log</a>
</p>

