<% require 'cgi' %>
<% q = params[:name] %>

<div id="header">
  <h1><a href="<%= url %>">RQ</a> : <a href="<%= "#{url}q/#{q}" %>"><%= q %></a> : <%= locals['msg_id'] %></h1>
</div>

<div id="sub-header">
  <div id="message-actions">
    <form class="inline" method="post" action="<%= "#{url}q/#{q}/#{locals['msg_id']}/clone" %>">
      <button id="clone-message">Clone message</button>
    </form>
    <form class="inline" method="post" action="<%= "#{url}q/#{q}/#{locals['msg_id']}/run_now" %>">
      <button id="clone-message">Run message (risky)</button>
    </form>
  </div>
  <p>message.json [ <a href="#" onclick="show_toggle()">show/hide</a> | <a href="<%= "#{url}q/#{q}/#{locals['msg_id']}.json" %>">raw</a> ]</p>
<table id="message-json" class="hidden">
<%  ['src', 'dest', 'msg_id', 'status', 'state', 'count', 'max_count', 'param1', 'param2', 'param3', 'param4', 'post_run_webhook', 'orig_msg_id', 'cloned_from', 'dups', 'dup', 'force_remote'].each do |key| %>
<%    next unless locals['msg'].has_key?(key) %>
<tr>
  <td class="left-aligned">
    <% if key == 'status' && locals['msg']['state'] == 'relayed' %>
       <% stuff, url = locals['msg']['status'].split(' - ', 2) %>
       <%= key %></td><td> : </td><td class="left-aligned"> relayed - <a class="inline" href="<%= url %>"><%= url %></a> </td>
    <% elsif key == 'orig_msg_id' || key == 'dup' %>
 <%= key %></td><td> : </td><td class="left-aligned"> <a class="inline" href="<%= locals['msg'][key] %>"><%= locals['msg'][key] %></a> </td>
    <% elsif key == 'dups' %>
 <%= key %></td><td> : </td><td class="left-aligned"> [
         <% locals['msg'][key].each do |v| %>
            <a href="<%= v %>"><%= v %></a>
         <% end %> ] </td>
    <% else %>
 <%= key %></td><td> : </td><td class="left-aligned"> <%= Rack::Utils::escape_html locals['msg'][key] %> </td>
    <% end %>
</tr>
<% end %>
</table>
</div>

<h3>Message Attachments</h3>
<% locals['msg']['_attachments'] ||= {} %>
<% if locals['msg']['_attachments'].size > 0 %>
<ul>
<%  locals['msg']['_attachments'].keys.sort.each do |key| %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/attach/#{key}" %>"><%= key %></a>
  </span>
</li>
<% end %>
</ul>
<% else %>
  <p>No attachments.</p>
<% end %>

<h3>Log [<code>tail -n 256</code>] [ <a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/log/stdio.log" %>">raw</a> ]</h3>
<% if locals['msg']['state'] == 'relayed' || locals['msg']['state'] == 'done' %>
  <% datestamp = locals['msg_id'].split('.', 3) %>
  <% date_dirs = "%s/%s/%s" % [datestamp[0], datestamp[1][0,2], datestamp[1][-2..-1]] %>
  <% log_path = "queue/#{q}/#{locals['msg']['state']}/#{date_dirs}/#{locals['msg_id']}/job/stdio.log" %>
<% else %>
  <% log_path = "queue/#{q}/#{locals['msg']['state']}/#{locals['msg_id']}/job/stdio.log" %>
<% end %>
<% if File.exists?(log_path) %>
<pre id="log-output">
  <%= CGI.escapeHTML(`tail -n 256 #{log_path}`.strip) %>
</pre>
<% else %>
  <p>Log file doesn't currently exist.</p>
<% end %>

<script>
  function show_toggle() {
    var cfg = document.getElementById('message-json');
    if (cfg.className.indexOf('hidden') >= 0) {
      cfg.className = cfg.className.replace('hidden', '').replace(/\s+$/, "");
    } else {
      cfg.className += ' hidden';
    }
    return false;
  }
</script>
