<% q = params[:name] %>
<h1><a href="<%= url %>">RQ</a> : <a href="<%= "#{url}q/#{q}" %>">Queue [ <%= q %> ]</a> : Mesg: [ <%= locals['msg_id'] %> ] </h1>
<h5><%= RQ::QueueMgrClient.environment %></h5>


<h3>Message Attribs</h3>
<ul>
<%  ['src', 'dest', 'msg_id', 'status', 'state', 'count', 'max_count', 'param1', 'param2', 'param3', 'param4', 'post_run_webhook', 'orig_msg_id', 'cloned_from', 'dups', 'dup'].each do |key| %>
<%    next unless locals['msg'].has_key?(key) %>
<li>
  <span class="">
    <% if key == 'status' && locals['msg']['state'] == 'relayed' %>
       <% stuff, url = locals['msg']['status'].split(' - ', 2) %>
       <%= key %> : relayed - <a href="<%= url %>"><%= url %></a>
    <% elsif key == 'orig_msg_id' || key == 'dup' %>
       <%= key %> : <a href="<%= locals['msg'][key] %>"><%= locals['msg'][key] %></a>
    <% elsif key == 'dups' %>
      <%= key %> : [ 
         <% locals['msg'][key].each do |v| %>
            <a href="<%= v %>"><%= v %></a>
         <% end %> ]
    <% else %>
       <%= key %> : <%= Rack::Utils::escape_html locals['msg'][key] %>
    <% end %>
  </span>
</li>
<% end %>
</ul>
<ul>
<li>
<a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/log/stdio.log" %>">log</a> -
<a href="<%= "#{url}q/#{q}/#{locals['msg_id']}.json" %>">json</a>
</li>
</ul>

<h3>Message Attachments</h3>
<ul>
<%  locals['msg']['_attachments'] ||= {} %>
<%  locals['msg']['_attachments'].keys.sort.each do |key| %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{locals['msg_id']}/attach/#{key}" %>"><%= key %></a>
  </span>
</li>
<% end %>
</ul>

