<div id="header">
  <h1>RQ</h1>
</div>

<h3>New Message Result</h3>

<p>Queue: <a href="<%= root %>q/<%= q_name %>"><%= q_name %></a></p>

<p>
<% if result[0] == 'ok' %>
   OK - <a href='<%= result[1] %>'><%= result[1] %></a>
<% else %>
   <%= result[0] %> - <%= result[1] %>
<% end %>
</p>



