<div id="header">
  <h1><a href="<%= root %>">RQ</a> : <a href="<%= "#{root}q/#{q_name}" %>"><%= q_name %></a> : <%= msg_id %></h1>
</div>

<div id="sub-header">
  <div id="message-actions">
    <form class="inline" id="commit-message-form" method="post" action="<%= "#{root}q/#{q_name}/#{msg_id}" %>">
      <input name="_method" type="hidden" value="commit" />
      <button id="commit-message-button">Commit Message</button>
    </form>
    <form class="inline" id="delete-message-form" method="post" action="<%= "#{root}q/#{q_name}/#{msg_id}" %>">
      <input name="_method" type="hidden" value="delete" />
      <button id="delete-message-button">Delete Message</button>
    </form>
  </div>
  <p>message.json [ <a href="#" onclick="show_toggle()">full/summary</a> | <a href="<%= "#{root}q/#{q_name}/#{msg_id}.json" %>">raw</a> ]</p>
<table id="message-json-default" class="">
<%  ['dest', 'status', 'state' ].each do |key| %>
<%    next unless msg.has_key?(key) %>
<tr>
  <td class="left-aligned">
    <% if key == 'status' && msg['state'] == 'relayed' %>
       <% stuff, url = msg['status'].split(' - ', 2) %>
       <%= key %></td><td> : </td><td class="left-aligned"> relayed - <a class="inline" href="<%= url %>"><%= url %></a> </td>
    <% elsif key == 'orig_msg_id' || key == 'dup' %>
 <%= key %></td><td> : </td><td class="left-aligned"> <a class="inline" href="<%= msg[key] %>"><%= msg[key] %></a> </td>
    <% elsif key == 'dups' %>
 <%= key %></td><td> : </td><td class="left-aligned"> [
         <% msg[key].each do |v| %>
            <a href="<%= v %>"><%= v %></a>
         <% end %> ] </td>
    <% else %>
 <%= key %></td><td> : </td><td class="left-aligned"> <%= Rack::Utils::escape_html msg[key] %> </td>
    <% end %>
</tr>
<% end %>
</table>
<table id="message-json" class="xhidden">
<%  ['src', 'msg_id', 'count', 'max_count', 'param1', 'param2', 'param3', 'param4', 'post_run_webhook', 'orig_msg_id', 'cloned_from', 'dups', 'dup', 'force_remote'].each do |key| %>
<%    next unless msg.has_key?(key) %>
<tr>
  <td class="left-aligned">
    <% if key == 'status' && msg['state'] == 'relayed' %>
       <% stuff, url = msg['status'].split(' - ', 2) %>
       <%= key %></td><td> : </td><td class="left-aligned"> relayed - <a class="inline" href="<%= url %>"><%= url %></a> </td>
    <% elsif key == 'orig_msg_id' || key == 'dup' %>
 <%= key %></td><td> : </td><td class="left-aligned"> <a class="inline" href="<%= msg[key] %>"><%= msg[key] %></a> </td>
    <% elsif key == 'dups' %>
 <%= key %></td><td> : </td><td class="left-aligned"> [
         <% msg[key].each do |v| %>
            <a href="<%= v %>"><%= v %></a>
         <% end %> ] </td>
    <% else %>
 <%= key %></td><td> : </td><td class="left-aligned"> <%= Rack::Utils::escape_html msg[key] %> </td>
    <% end %>
</tr>
<% end %>
</table>
</div>

<h3>Message Attachments</h3>
  <div id="attachment-actions">
    <form class="inline" method="post" enctype="multipart/form-data" action="<%= "#{root}q/#{q_name}/#{msg_id}/attach/new" %>">
      <input id="file_up" name="filedata" type="file">
      <input value="Upload" type="submit">
    </form>
  </div>
<% msg['_attachments'] ||= {} %>
<% if msg['_attachments'].size > 0 %>
<table id="attachments" class="">
<thead>
<tr>
  <th class="">
    Name
  </th>
  <th>
    MD5
  </th>
  <th>
    Size
  </th>
  <th>
  </th>
</tr>
</thead>
<tbody>
<%  msg['_attachments'].keys.sort.each do |key| %>
<tr>
  <td class="">
    <a href="<%= "#{root}q/#{q_name}/#{msg_id}/attach/#{key}" %>"><%= key %></a>
  </td>
  <td>
    <%= msg['_attachments'][key]['md5'] %></a>
  </td>
  <td>
    <%= msg['_attachments'][key]['size'] %></a>
  </td>
  <td>
    <form class="inline" id="delete-attach-form" method="post" action="<%= "#{root}q/#{q_name}/#{msg_id}/attach/#{key}" %>">
      <input name="_method" type="hidden" value="delete" />
      <button id="delete-attach-button">Delete</button>
    </form>
  </td>
</tr>
<% end %>
</tbody>
</table>
<% else %>
  <p>No attachments.</p>
<% end %>

<script>
  function show_toggle() {
    var cfg = document.getElementById('message-json');
    if (cfg.className.indexOf('hidden') >= 0) {
      cfg.className = cfg.className.replace('hidden', '').replace(/\s+$/, "");
    } else {
      cfg.className += ' hidden';
    }
    return false;
  }
  var commitMessageForm = document.getElementById('commit-message-form');
  commitMessageForm.addEventListener('submit', function (e) {
    var commitMessageButton = document.getElementById('commit-message-button');
    commitMessageButton.disabled = true;
  });
  var deleteMessageForm = document.getElementById('delete-message-form');
  deleteMessageForm.addEventListener('submit', function (e) {
    var deleteMessageButton = document.getElementById('delete-message-button');
    deleteMessageButton.disabled = true;
  });
  var deleteAttachForm = document.getElementById('delete-attach-form');
  deleteAttachForm.addEventListener('submit', function (e) {
    var deleteAttachButton = document.getElementById('delete-attach-button');
    deleteAttachButton.disabled = true;
  });
</script>
