
<script src="<%= root %>js/ready.js"></script>
<script src="<%= root %>js/request.js"></script>
<script src="<%= root %>js/queue.js"></script>
<script>
  var config = {
    queue_path: "<%= queue_path %>",
  };
</script>

<div id="header">
  <p id="new-message"><a href="<%= "#{root}q/#{qc.name}/new_message" %>">New Message</a></p>
  <h1><a href="<%= root %>">RQ</a> : <%= qc.name %></h1>
</div>

<div id="sub-header">
  <% if qc.running? %>
  <% status = qc.status %>
  <div id="queue-status">
    <span class="<%= status == "UP" ? "green" : "red" %>" id="status"><%= status %></span>
    <span class="" id="ping"><%= qc.ping %></span>
    <span class="" id="pid"><%= qc.read_pid %></span>
    running for <span id="uptime"><%= qc.uptime %></span> seconds
<%=     erb :_main_queue_form, :locals => {:status => status, :name => qc.name } %>
  <% else %>
   Status: <span class="red">queue is COMPLETELY DOWN</span>
  <% end %>
  </div>
  <p id="json-config">config.json [ <a href="#" onclick="show_toggle()">show/hide</a> | <a href="<%= "#{root}q/#{qc.name}/config.json" %>">raw</a> ]</p>
  <pre id="config" class="json hidden"><%= JSON.pretty_generate(config) %></pre>
</div>

<% if status != 'DOWN' %>
<h2>Message List</h2>

<table class="queue-lists" cellspacing="0" cellpading="5">
  <thead>
    <tr>
      <th class="prep"><h4>PREP</h4><span id="prep_size">...</span></th>
      <th class="que"><h4>QUE</h4><span id="que_size">...</span></th>
      <th class="run"><h4>RUN</h4><span id="run_size">...</span></th>
      <%- if qc.name != 'relay' -%>
      <th class="done"><h4>DONE</h4><span id="done_size">...</span></th>
      <%- end -%>
      <th class="err"><h4>ERR</h4><span id="err_size">...</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
<%-
  if qc.name != 'relay'
    states = %w{ prep que run done err }
  else
    states = %w{ prep que run err }
  end

  states.each do |state|
-%>
      <!-- <%= state %> -->
      <td class="<%= state %>">
        <ul id="list-<%= state %>">
        </ul>
      </td>
<%- end -%>
    </tr>

<%- if qc.name == 'relay' -%>
    <!-- relayed -->
    <tr>
      <th colspan="4" class="relayed"><h4>RELAYED</h4><span id="relayed_size">...</span></th>
    <tr>
    </tr>
      <td colspan="4" class="relayed">
        <ul id="list-relayed" class="left-aligned">
        </ul>
      </td>
    </tr>
<%- end -%>
  </tbody>
</table>

<ul class="hidden">
  <!-- date separator -->
  <li id="template-separator">
    <h5 class="template-date"></h5>
    <br />
  </li>

  <!-- prep -->
  <li id="template-prep">
    <a class="template-link"></a>
  </li>

  <!-- que -->
  <li id="template-que">
    <a class="template-link"></a>
    <a class="template-dest hidden"></a>
    <span class="template-seconds"></span>
    <div style="clear: both;">
      <form class="shush-form inline template-form" method="post">
        <input name="_method" type="hidden" value="run_now" />
        <button class="shush-button">Run now</button>
      </form>
      <form class="shush-form inline template-form" method="post">
        <input name="_method" type="hidden" value="delete" />
        <button class="shush-button" type="submit">Delete</button>
      </form>
    </div>
    <br />
  </li>

  <!-- run -->
  <li id="template-run">
    <a class="template-link"></a>
    <a class="template-dest hidden"></a>
    <span class="yellow template-status"></span>
    <form class="shush-form template-form" method="post">
      <input name="_method" type="hidden" value="destroy" />
      <button class="shush-button" type="submit">Destroy</button>
    </form>
  </li>

  <!-- done -->
  <li id="template-done">
    <a class="template-link"></a>
  </li>

  <!-- err -->
  <li id="template-err">
    <a class="template-link"></a>
  </li>

  <!-- relayed -->
  <li id="template-relayed">
    <a class="template-link"></a> - <span class="green template-status"></span> - <a class="template-new_msg"></a>
  </li>
</ul>

<% else %>
  <h3>Queue is HARD DOWN</h3>
  <p>Nothing to display.</p>
<% end %>

<hr class="meta" />
