<% q = params[:name] %>
<h1><a href="<%= url %>">RQ</a> : <a href="<%= "#{url}q/#{q}" %>">Queue [ <%= q %> ]</a> </h1>
<h5><%= RQ::QueueMgrClient.environment %></h5>

<h3>Queue Status</h3>
<ul>
<%  qc = RQ::QueueClient.new(q) %>
<li>
<% if qc.running? %>
<% admin_status, oper_status = qc.status %>
  Admin Status: <span class="<%= admin_status == "UP" ? "green" : "red" %>"> <%= admin_status %></span>
  Oper Status: <span class="<%= oper_status == "UP" ? "green" : "red" %>"> <%= oper_status %></span>
  <span class=""> <%=  qc.ping %></span>
  <span class=""> <%=  qc.read_pid %></span>
  up for <%= qc.uptime %> seconds
<% else %>
  Status: <span class="red">queue is COMPLETELY DOWN</span>
  <br />
<% end %>
</li>
</ul>

<h3>Message List</h3>
<ul>
<a href="<%= "#{url}q/#{q}/new_message" %>">New Message</a>
<br />
<%   msgs = qc.messages %>

<span><%= msgs['prep'].length %> items in prep</span>
<ul></ul>
<span><%= msgs['que'].length %> items in que</span>
<ul></ul>
<ul>
<%   msgs['que'].sort.reverse.each do |msg| %>
<%     msg_id = "#{url}q/#{q}/#{msg[0]}" %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg[0]}" %>"><%= "#{url}q/#{q}/#{msg[0]}" %></a>
  </span>
  <br />
  id: <span class=""> <%= msg[0] %></span>
  <% if q == 'relay' %>
    <%  ok, msg_full = qc.get_message({ 'msg_id' => msg[0]}) %>
    <% if ok == 'ok' %>
      dest: <span class="yellow"> <%= msg_full['dest'] %></span>
    <% end %>
  <% end %>
  : in <%= msg[1] - Time.now.to_i %> secs</span>
  <span class="">
    <form method="post" action="<%= "#{url}q/#{q}/#{msg[0]}" %>">
    <input name="_method" type="hidden" value="delete" />
    <button type="submit">Destroy it</button>
    </form>
  </span>
</form>
</li>
<%   end %>
</ul>

<span><%= msgs['run'].length %> items in run</span>
<ul>
<%   msgs['run'].sort.reverse.each do |msg| %>
<%     msg_id = "#{url}q/#{q}/#{msg[0]}" %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg[0]}" %>"><%= "#{url}q/#{q}/#{msg[0]}" %></a>
  </span>
  <br />
  id: <span class=""> <%= msg[0] %></span>
  <% if q == 'relay' %>
    <%  ok, msg_full = qc.get_message({ 'msg_id' => msg[0]}) %>
    <% if ok == 'ok' %>
      dest: <span class="yellow"> <%= msg_full['dest'] %></span>
      STATUS: <span class="yellow"> <%= msg_full['status'] %></span>
    <% else %>
      STATUS: <span class="yellow"> <%= "#{ok} #{msg_full}" %></span>
    <% end %>
  <% end %>
  <span class="">
    <form method="post" action="<%= "#{url}q/#{q}/#{msg[0]}" %>">
    <input name="_method" type="hidden" value="delete" />
    <button type="submit">Destroy it</button>
    </form>
  </span>
</form>
</li>
<%   end %>
</ul>
<span><%= msgs['done'].length %> items in done</span>
<ul>
<%   msgs['done'].sort.reverse.each do |msg| %>
<%     msg_id = "#{url}q/#{q}/#{msg}" %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg}" %>"><%= "#{msg}" %></a>
  </span>
</li>
<%   end %>
</ul>

<span><%= msgs['relayed'].length %> items in relayed</span>
<ul>
<%   msgs['relayed'].sort.reverse.each do |msg| %>
<%     msg_id = "#{url}q/#{q}/#{msg}" %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg}" %>"><%= "#{url}q/#{q}/#{msg}" %></a>
  </span>
  <br />
  id: <span class=""> <%= msg %></span>
  <% if q == 'relay' %>
    <%  ok, msg_full = qc.get_message({ 'msg_id' => msg}) %>
    <%  status, new_location = msg_full['status'].split('-', 2) %>
    <% if ok == 'ok' %>
      dest: <span xclass="yellow"> <%= msg_full['dest'] %></span>
    <% end %>
  <% end %>
  : - <span class="green"><%= status %></span> -&gt;
   <a href="<%= new_location %>"><%= new_location %></a>
  </span>
</form>
</li>
<%   end %>
</ul>

<span><%= msgs['err'].length %> items in err</span>
<ul>
<%   msgs['err'].sort.reverse.each do |msg| %>
<%     msg_id = "#{url}q/#{q}/#{msg}" %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg}" %>"><%= "#{msg}" %></a>
  </span>
  <br />
</form>
</li>
<%   end %>
</ul>

</ul>

<%= Time.now %>
