<% q = params[:name] %>
<h1>RQ : Queue [ <%= q %> ]</h1>

<ul>
<%  qc = RQ::QueueClient.new(q) %>
<li>
<span class=""> <a href="<%= "#{url}q/#{q}" %>"><%= "#{url}q/#{q}" %></a> </span>
<br />
<% if qc.running? %>
  Status: <span class="green">queue is OPERATIONAL</span>
  <span class="green"> <%=  qc.ping %> </span>
  <span class="green"> <%=  qc.read_pid %> </span>
  up for <%= qc.uptime %> seconds
  <% else %>
  Status: <span class="red">queue is DOWN</span>
<br />
  TODO: Display options, restarts
<% end %>
</li>
</ul>

<h3>Message List</h3>
<a href="<%= "#{url}q/#{q}/new_message" %>">New Message</a>
<br />
<% if RQ::QueueMgrClient.running? %>
<%   msgs = qc.messages %>
<span><%= msgs['prep'].length %> items in prep</span>
<br />
<span><%= msgs['run'].length %> items in run</span>
<br />
<span><%= msgs['pause'].length %> items in pause</span>
<br />
<span><%= msgs['done'] %> items in done</span>
<br />
<span><%= msgs['que'].length %> items in que</span>
<br />
<ul>
<%   msgs['que'].each do |msg| %>
<li>
  <span class="">
    <a href="<%= "#{url}q/#{q}/#{msg[0]}" %>"><%= "#{url}q/#{q}/#{msg[0]}" %></a>
  </span>
  <br />
  id: <span class=""> <%= msg[0] %></span>
  status: <span class="green"> <%= msg[1] %></span>
  <span class="">
    <!-- TODO: Ajax delete as POST -->
    <a href="<%= "#{url}q/#{q}/#{msg[0]}/delete" %>">delete</a>
</li>
<%   end %>
<% end %>
</ul>

The bomb... <%= Time.now %> - <%= Dir.pwd %>
