<div id="header">
  <p id="new-message"><a href="<%= "#{root}q/#{qc.name}/new_message" %>">New Message</a></p>
  <h1><a href="<%= root %>">RQ</a> : <%= qc.name %></h1>
</div>

<div id="sub-header">
  <% if qc.running? %>
  <% status = qc.status %>
  <div id="queue-status">
    <span class="<%= status == "UP" ? "green" : "red" %>"><%= status %></span>
    <span class=""><%= qc.ping %></span>
    <span class=""><%= qc.read_pid %></span>
    running for <%= qc.uptime %> seconds
<%=     erb :_main_queue_form, :locals => {:status => status, :name => qc.name } %>
  <% else %>
   Status: <span class="red">queue is COMPLETELY DOWN</span>
  <% end %>
  </div>
  <p id="json-config">config.json [ <a href="#" onclick="show_toggle()">show/hide</a> | <a href="<%= "#{root}q/#{qc.name}/config.json" %>">raw</a> ]</p>
  <pre id="config" class="json hidden"><%= JSON.pretty_generate(config) %></pre>
</div>

<% if status != 'DOWN' %>
<h2>Message List</h2>

<% num_msgs = qc.num_messages %>

<table id="queue-lists" cellspacing="0" cellpading="5">
  <thead>
    <tr>
      <th class="prep"><h4>PREP</h4><%= num_msgs['prep'] %></th>
      <th class="que"><h4>QUE</h4><%= num_msgs['que'] %></th>
      <th class="run"><h4>RUN</h4><%= num_msgs['run'] %></th>
      <% if qc.name != 'relay' %>
        <th class="done"><h4>DONE</h4><%= num_msgs['done'] %></th>
      <% end %>
      <th class="err"><h4>ERR</h4><%= num_msgs['err'] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
<%
  if qc.name != 'relay'
    states = %w{ prep que run done err }
  else
    states = %w{ prep que run err }
  end

  states.each do |state|
%>
      <!-- <%= state %> -->
      <td class="<%= state %>">
<% msgs = qc.messages({'state' => state, 'limit' => 50}) %>
<% grouped = {} %>
<% msgs.each do |msg| %>
  <% next if msg.nil? %>
  <% date, msg['_short_msg_id'] = msg['msg_id'].split('.', 2) %>
  <% grouped[date] ||= [] %>
  <% grouped[date] << msg %>
<% end %>
<% grouped.sort.reverse.each do |date, msgs| %>
  <h5><%= date %></h5>
  <ul>
  <% msgs.sort_by{ |m| m['msg_id'] }.reverse.each do |msg| %>
    <li>
    <a href="<%= "#{root}q/#{qc.name}/#{msg['msg_id']}" %>"><%= msg['_short_msg_id'] %></a>
    <% if state == 'que' %>
      <% if qc.name == 'relay' %>
        dest: <span class="yellow"><%= msg['dest'] %></span>
      <% end %>
      in <%= msg['due'].to_i - Time.now.to_i %> secs
      <div style="clear: both;">
        <form class="shush-form inline" method="post" action="<%= "#{root}q/#{qc.name}/#{msg['msg_id']}/run_now" %>">
          <button class="shush-button" id="run-button">Run now</button>
        </form>
        <form class="shush-form inline" method="post" action="<%= "#{root}q/#{qc.name}/#{msg['msg_id']}" %>">
          <input name="_method" type="hidden" value="delete" />
          <button class="shush-button" type="submit">Delete</button>
        </form>
      </div>
    <% elsif state == 'run' %>
      <% if qc.name == 'relay' %>
        dest: <span class="yellow"><%= msg['dest'] %></span>
        status: <span class="yellow"><%= msg['status'] %></span>
      <% end %>
      <form class="shush-form" method="post" action="<%= "#{root}q/#{qc.name}/#{msg['msg_id']}" %>">
        <input name="_method" type="hidden" value="destroy" />
        <button class="shush-button" type="submit">Destroy</button>
      </form>
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
      </td>
    <% end %>

      </td>
  </tbody>
</table>

<!-- RELAYED -->
<% if qc.name == 'relay' %>
<div class="relayed">
  <h4><b><%= num_msgs['relayed'] %></b> in RELAYED</h4>
  <% msgs = qc.messages({'state' => 'relayed', 'limit' => 50}) %>
  <% grouped = {} %>
  <% msgs.each do |msg| %>
    <% date, msg['_short_msg_id'] = msg['msg_id'].split('.', 2) %>
    <% grouped[date] ||= [] %>
    <% grouped[date] << msg %>
  <% end %>
  <% grouped.sort.reverse.each do |date, msgs| %>
    <h5><%= date %></h5>
    <ul>
    <% msgs.sort_by{ |m| m['msg_id'] }.reverse.each do |msg| %>
      <li class="relayed-li">
        <a href="<%= "#{root}q/#{qc.name}/#{msg['msg_id']}" %>"><%= msg['_short_msg_id'] %></a>
        <% ok, msg_full = qc.get_message('msg_id' => msg['msg_id']) %>
        <% if ok == 'ok' %>
          <% status, new_location = msg_full['status'].split(' - ', 2) %>
          - <span class="green"><%= status %></span> - <a title="<%= new_location %>" href="<%= new_location %>"><%= new_location %></a>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% else %>
  <h3>Queue is HARD DOWN</h3>
  <p>Nothing to display.</p>
<% end %>

<script>
  function show_toggle() {
    var cfg = document.getElementById('config');
    if (cfg.className.indexOf('hidden') >= 0) {
      cfg.className = cfg.className.replace('hidden', '').replace(/\s+$/, "");
    } else {
      cfg.className += ' hidden';
    }
    return false;
  }
  var shushForms = document.getElementsByClassName('shush-form');
  for (var i = 0; i < shushForms.length; i++) {
    shushForms[i].addEventListener('submit', function (e) {
        this.getElementsByClassName('shush-button').disabled = true;
    });
  }
</script>
